/*---------Submenu--------*/
.SubMenu {
    padding-left: 95px;
    position: fixed;
}

.SubMenu div {
    padding: 30px
}

.SubMenu a {
    text-decoration: none;
    color: #b89f7b;
}

.container {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

ul li {
    padding: 20px;
    list-style-type: none;
}

.catalog {
    padding-top: 20px;
}

/*---------Catalog--------*/
.catalog {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
}

.item {
    margin-top: 20px;
    width: 150px;
    height: 230px;
    background-color: aqua;

}

.item_name {
    padding-top: 110px;
}

.item_cors {
    padding-top: 45px;
}